/.idea/
/out/
/.gradle/
/.DS_Store
vaadin-chartjs.iml
/demo/build/
/demo/src/main/webapp/VAADIN/widgetsets/ChartJsWidgetset/compilation-mappings.txt
/build/
/.project
/.settings
.classpath
/bin/
/.nb-gradle/